/*--------------------------------------*\
	Links
\*--------------------------------------*/

// Menus, Links and Buttons

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 280px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background-color: #444444;
}

.slideout-menu-left {
  left: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #ffffff; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.panel:before {
  content: '';
  display: block;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.5s ease-in-out;
}

.panel-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
}

#menu {
  .close-button {
    padding: 12px;
    color: $white;
    height: 56px;
    text-align: center;
    background-color: rgba(255,255,255,0.12);

    &:before {
      margin-right: 8px;
      position: relative;
      top: 3px;
    }
  }

  ul {
    margin: 24px 0;

    a.mobile-menu-item {
      height: 56px;
      padding: 16px;
      text-align: center;
      color: $gray-12;

      &:hover {
        color: $white;
      }

      &.active {
        color: $brand-primary;
      }
    }
  }

}

.header {
  @include transitions;
  @include box-border;
  background-color: $black;
  width: 100%;
  position: fixed;
  top: -56px;
  left: 0;
  z-index: 999;

  &.visible {
    top: 0;
  }

  & .side-menu {
    height: 56px;
    @include m-tablet-up {
      display: none;
    }

    & .mobile-menu {
      position: absolute;
      left: 0;
      top: 0;
    }

    & .logo {
      @include transitions;
      margin: 0 auto;
      -webkit-align-self: center;
      align-self: center;
      width: 80px;
      height: 40px;

      & img {
        width: 100%;
        height: auto;
      }
    }
  }

  & .full-menu {
    display: none;
    @include m-tablet-up {
      @include flex;
    }
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &.menu li {
    @include box-border;
    display: inline-block;
    vertical-align: middle;
    height: 56px;
    padding: 10px 0;
  }
}

a {
  @include transitions;
  @include box-border;
  display: block;
  text-decoration: none;
  cursor: pointer;

  &.link {
    color: $brand-secondary;
    display: inline-block;

    &:hover {
      color: $brand-primary;
    }
  }

  &.button {
    display: inline-block;
    text-align: center;
    height: 36px;
    padding: 6px 16px;
    background-color: $brand-secondary;
    border: 1px solid;
    border-radius: $global-radius;
    border-color: $brand-secondary;
    color: $white;

    &.flat {
      background-color: transparent;
      color: $brand-secondary;
      &:hover {
        color: $white;
      }
    }

    &:hover {
      background-color: $brand-secondary;
      border-color: $brand-secondary;
    }

    @include mobile-portrait {
      width: 100%;
    }
  }

  li &.menu-button {
    color: $brand-secondary;
    height: 36px;
    padding: 6px;
    margin: 0 8px;
    border-radius: $global-radius;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      color: $brand-primary;
      background-color: $brand-light;
    }
  }

  li &.menu-item {
    color: $gray-12;
    padding: 2px 0;
    margin: 4px 16px;
    border-bottom: 2px solid;
    border-color: $black;

    &.first-menu-item {
      margin-left: 0;
    }

    &:hover {
      color: $white;
      border-bottom: 2px solid;
      border-color: $white;
    }

    &.active {
      color: $brand-primary;
      border-bottom: 2px solid;
      border-color: $brand-primary;
    }
  }

  li &.social-item {
    color: $white;
    height: 36px;
    padding: 6px;
    margin: 0 8px;
    border-radius: $global-radius;
    background-color: transparent;

    &.last-menu-item {
      margin-right: 0;
    }

    &:hover {
      color: $brand-primary;
      background-color: $brand-light;
    }
  }
}

button {
  @include transitions;
  @include box-border;
  display: block;
  text-decoration: none;
  cursor: pointer;

  &.button {
    display: inline-block;
    text-align: center;
    height: 36px;
    padding: 6px 16px;
    background-color: $brand-secondary;
    border: 1px solid;
    border-radius: $global-radius;
    border-color: $brand-secondary;
    color: $white;

    &.flat {
      background-color: transparent;
      color: $brand-secondary;
      &:hover {
        color: $white;
      }
    }

    &:hover {
      background-color: rgba($brand-secondary, 0.92);
      border-color: $brand-secondary;
    }

    @include mobile-portrait {
      width: 100%;
    }
  }
}
