<section id="home" class="row mobile-column no-wrap bw-bg">
  <header class="column flex-center align-center dark-bg-mb">
    <img src="./img/logo.svg" alt="Cas UX Design logo" class="logo-home" />
    <h1 class="text-center">UX Design</h1>
  </header>
  <section class="column flex-center align-center white-bg-mb">
    <article class="container home-block">
      <h2>Designing incredible experiences, solving real problems.</h2>
      <p>I design solutions for digital products that delivers value to users, solving their problems while providing enjoyable experiences.</p>
      <a class="link" href="#about" alt="About me">About me</a>
    </article>
  </section>
</section>
