<section id="process" class="column flex-center align-center gray-bg">
  <div class="container slider-container">
    <h2>Design Process</h2>
    <div class="process-slider" data-slideout-ignore>
      <ul>

        <li>
          <section class="column flex-center align-center">
            <a href="./img/ux_process.png" target="_blank" class="img-wrapper column flex-center">
              <img src="./img/ux_process.png" alt="Full UX Process" class="portfolio-cover" />
            </a>
            <article class="column align-start">
              <h3>User-centered Design</h3>
              <p>This is the entire process I've been following in the last 2 years. It's based on the UCD methodology and it uses Design Thinking and Lean UX for different stages of the process</p>
              <a href="https://docs.google.com/spreadsheets/d/1UdMUyApmVXzIVa8aWCdhNGpnz65aJYs10ch0PuY1yb8/edit?usp=sharing" class="link flat" target="_blank">More info (in pt-br only)</a>
            </article>
          </section>
        </li>

        <li>
          <section class="column flex-center align-center">
            <a href="./img/problem_framing.png" target="_blank" class="img-wrapper column flex-center">
              <img src="./img/problem_framing.png" alt="Problem framing" class="portfolio-cover" />
            </a>
            <article class="column align-start">
              <h3>Problem framing</h3>
              <p>First we have to understand really well the problem, who are the impacted actors, what are the difficulties around this problem, how is the current user experience and if it's a problem that really deserves to be solved</p>
              <a href="https://docs.google.com/presentation/d/1wN5MsY5VpTWbtCHpejFolEXt3PIW1uUYkoMBJlIfh4c/edit?usp=sharing" class="link flat" target="_blank">More info (in pt-br only)</a>
            </article>
          </section>
        </li>

      </ul>
    </div>
  </div>
</section>
