<nav id="menu">
  <section class="column">
    <ul class="column">
      <li>
        <a class="mobile-menu-item active" href="#home" alt="Home Cax UX Design">Home</a>
      </li>
      <li>
        <a class="mobile-menu-item" href="#about" alt="About Raoni Caselli">About me</a>
      </li>
      <li>
        <a class="mobile-menu-item" href="#portfolio" alt="UX Portfolio">UX Portfolio</a>
      </li>
      <li>
        <a class="mobile-menu-item" href="#process" alt="Design Process">Design Process</a>
      </li>
      <li>
        <a class="mobile-menu-item" href="#contact" alt="Contact me">Contact</a>
      </li>
    </ul>
    <ul class="row flex-center align-center">
      <li>
        <a class="mdi mdi-behance mdi-24px social-item" href="https://behance.net/raonicaselli" alt="Raoni Caselli on Behance"></a>
      </li>
      <li>
        <a class="mdi mdi-linkedin mdi-24px social-item" href="https://www.linkedin.com/in/raoni-caselli-09a82a2b/" alt="Raoni Caselli on Linkedin"></a>
      </li>
      <li>
        <a class="mdi mdi-medium mdi-24px social-item" href="https://medium.com/@raonicaselli" alt="Raoni Caselli on Medium"></a>
      </li>
    </ul>
  </section>
</nav>
